# Ignore macOS system files
.DS_Store

# Ignore VS Code settings folder
.vscode/

# Ignore Jupyter notebook checkpoints
__pycache__/
.ipynb_checkpoints/

# Ignore virtual environments (if any)
venv/
env/
